Repository Metabolic24/Mindbug_Student_Project, pull requests merged in 2025-04, with the labels that each got.

#91 Feature/us 78 block with a card
  mindbug-backend/src/main/java/com/mindbug/controller/GameController.java
  mindbug-backend/src/main/java/com/mindbug/dtos/PlayerCardDto.java
  mindbug-backend/src/main/java/com/mindbug/services/CardService.java
  mindbug-backend/src/main/java/com/mindbug/services/GameServer.java
  mindbug-backend/src/main/java/com/mindbug/services/gamecore/Battle.java
  mindbug-backend/src/main/java/com/mindbug/services/gamecore/GameSession.java
  mindbug-backend/src/main/java/com/mindbug/services/gamecore/GameSessionValidation.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/GameWSMessage.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/WSMessageCardDestroyed.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/WSMsgPlayerLifeUpdated.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/playeractions/WSMessageBlocked.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/playeractions/WSMessageDidntBlock.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/playeractions/WSMessgaeAttacked.java
Labels: enhancement

#89 Play a card frontend #88
  mindbug-backend/src/main/java/com/mindbug/controller/GameController.java
  mindbug-backend/src/main/java/com/mindbug/repositories/CardRepository.java
  mindbug-backend/src/main/java/com/mindbug/services/CardService.java
  mindbug-backend/src/main/java/com/mindbug/services/gamecore/GameSession.java
  mindbug-backend/src/main/java/com/mindbug/services/gamecore/GameSessionValidation.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/playeractions/WSMessageGameState.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/playeractions/WSMessagePlayCard.java
  mindbug-frontend/src/components/GameBoard.vue
  mindbug-frontend/src/components/HomePage.vue
  mindbug-frontend/src/services/websocket.js
Labels: enhancement, Frontend

#74 [WIP] Hotfix/us 73 cleanup and fix
  .github/workflows/ci.yml
  README.md
  mindbug-backend/pom.xml
  mindbug-backend/src/main/java/com/mindbug/MindbugApplication.java
  mindbug-backend/src/main/java/com/mindbug/controller/CardController.java
  mindbug-backend/src/main/java/com/mindbug/dtos/ConfirmJoinDto.java
  mindbug-backend/src/main/java/com/mindbug/dtos/PlayerBasicInfoDto.java
  mindbug-backend/src/main/java/com/mindbug/dtos/PlayerIdDto.java
  mindbug-backend/src/main/java/com/mindbug/exception/GlobalExceptionHandler.java
  mindbug-backend/src/main/java/com/mindbug/exception/ResourceLoadingException.java
  mindbug-backend/src/main/java/com/mindbug/exception/ResourceNotFoundException.java
  mindbug-backend/src/main/java/com/mindbug/models/Card.java
  mindbug-backend/src/main/java/com/mindbug/models/Effect.java
  mindbug-backend/src/main/java/com/mindbug/models/EffectAction.java
  mindbug-backend/src/main/java/com/mindbug/models/EffectTarget.java
  mindbug-backend/src/main/java/com/mindbug/models/EffectType.java
  mindbug-backend/src/main/java/com/mindbug/models/OperationType.java
  mindbug-backend/src/main/java/com/mindbug/models/Player.java
  mindbug-backend/src/main/java/com/mindbug/models/TriggerCondition.java
  mindbug-backend/src/main/java/com/mindbug/repositories/CardRepository.java
  mindbug-backend/src/main/java/com/mindbug/repositories/GameRepository.java
  mindbug-backend/src/main/java/com/mindbug/repositories/PlayerRepository.java
  mindbug-backend/src/main/java/com/mindbug/services/CardService.java
  mindbug-backend/src/main/java/com/mindbug/services/GameServer.java
  mindbug-backend/src/main/java/com/mindbug/services/GameService.java
  mindbug-backend/src/main/java/com/mindbug/services/GameSessionFactory.java
  mindbug-backend/src/main/java/com/mindbug/services/gamecore/Battle.java
  mindbug-backend/src/main/java/com/mindbug/services/gamecore/BattleService.java
  mindbug-backend/src/main/java/com/mindbug/services/gamecore/GameSession.java
  mindbug-backend/src/main/java/com/mindbug/services/gamecore/GameSessionValidation.java
  mindbug-backend/src/main/java/com/mindbug/services/gamecore/PlayerCard.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/WSMessagAskBlock.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/WSMessageCardDestroyed.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/WSMessageManager.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/WSMessageMatchFound.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/WSMessageNewGame.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/WSMessageNewTurn.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/WSMsgPlayerLifeUpdated.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/playeractions/WSMessageAttacked.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/playeractions/WSMessageBlocked.java
  mindbug-backend/src/main/java/com/mindbug/services/wsmessages/playeractions/WSMessageDidntBlock.java
  mindbug-backend/src/main/java/com/mindbug/websocket/GameWSMessage.java
  mindbug-backend/src/main/java/com/mindbug/websocket/WebsocketConfig.java
  mindbug-backend/src/main/java/com/mindbug/websocket/WebsocketMessage.java
  mindbug-backend/src/test/java/com/mindbug/GameServerTest.java
  mindbug-backend/src/test/java/com/mindbug/MindbugApplicationTests.java
  mindbug-backend/src/test/java/com/mindbug/controller/CardControllerTest.java
  mindbug-backend/src/test/java/com/mindbug/controller/WebSocketTestHelper.java
  mindbug-frontend/README.md
  mindbug-frontend/src/components/CardsList.vue
  mindbug-frontend/src/components/GameBoard.vue
  mindbug-frontend/src/components/HomePage.vue
  mindbug-frontend/src/components/SetsOfCards.vue
  mindbug-frontend/src/config/environment.js
  mindbug-frontend/src/router.js
  mindbug-frontend/src/services/websocket.js
Labels: documentation, Frontend, Backend, User Story Technique

#105 Fix draw cards directly after play and set visualisation
  mindbug-backend/src/main/java/com/mindbug/services/gamecore/GameSession.java
  mindbug-frontend/src/components/SetsOfCards.vue
Labels: bug, Frontend, Backend
