Repository Metabolic24/Mindbug_Student_Project, pull requests merged in 2025-02, with the labels that each got.

#7 #5 Initialisation de Frontend est faite
  .DS_Store
  mindbug-backend/.gitattributes
  mindbug-backend/.gitignore
  mindbug-backend/.mvn/wrapper/maven-wrapper.properties
  mindbug-backend/mvnw
  mindbug-backend/mvnw.cmd
  mindbug-backend/pom.xml
  mindbug-backend/src/main/java/com/mindbug/MindbugApplication.java
  mindbug-backend/src/main/resources/application.properties
  mindbug-backend/src/test/java/com/mindbug/MindbugApplicationTests.java
  mindbug-frontend/.gitignore
  mindbug-frontend/README.md
  mindbug-frontend/babel.config.js
  mindbug-frontend/jsconfig.json
  mindbug-frontend/package-lock.json
  mindbug-frontend/package.json
  mindbug-frontend/public/favicon.ico
  mindbug-frontend/public/index.html
  mindbug-frontend/src/App.vue
  mindbug-frontend/src/assets/logo.png
  mindbug-frontend/src/components/HelloWorld.vue
  mindbug-frontend/src/main.js
  mindbug-frontend/vue.config.js
Labels: Frontend, Backend

#25 Feature/us 06 ci
  .DS_Store
  .github/workflows/ci.yml
  mindbug-frontend/package.json
Labels: User Story Technique

#27 Feature/us 09 types of cards effects
  mindbug-backend/pom.xml
  mindbug-backend/src/main/java/com/mindbug/MindbugApplication.java
  mindbug-backend/src/main/java/com/mindbug/controller/CardController.java
  mindbug-backend/src/main/java/com/mindbug/model/Card.java
  mindbug-backend/src/main/java/com/mindbug/model/Effect.java
  mindbug-backend/src/main/java/com/mindbug/model/EffectType.java
  mindbug-backend/src/main/java/com/mindbug/model/Keyword.java
  mindbug-backend/src/main/resources/cards.json
  mindbug-backend/src/main/resources/sets/First_Contact.json
  mindbug-backend/src/test/java/com/mindbug/controller/CardControllerTest.java
  mindbug-frontend/src/assets/Sets/First_Contact/Axolotl_Healer.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Bee_Bear.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Brain_Fly.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Chameleon_Sniper.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Compost_Dragon.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Deathweaver.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Elephantopus.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Explosive_Toad.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Ferret_Bomber.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Giraffodile.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Goblin_Werewolf.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Gorillion.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Grave_Robber.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Harpy_Mother.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Kangasaurus_Rex.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Killer_Bee.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Lone_Yeti.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Luchataur.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Mysterious_Mermaid.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Plated_Scorpion.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Rhino_Turtle.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Shark_Dog.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Sharky_Crab-Dog-Mummypus.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Shield_Bugs.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Snail_Hydra.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Snail_Thrower.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Spider_Owl.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Strange_Barrel.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Tiger_Squirrel.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Turbo_Bug.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Tusked_Extorter.jpg
  mindbug-frontend/src/assets/Sets/First_Contact/Urchin_Hurler.jpg
  mindbug-frontend/src/components/CardsList.vue
  mindbug-frontend/src/components/SetsOfCards.vue
Labels: documentation, enhancement, Frontend, Backend

#46 refactor: move business logic from CardController to CardService
  mindbug-backend/src/main/java/com/mindbug/controller/CardController.java
  mindbug-backend/src/main/java/com/mindbug/services/CardService.java
  mindbug-backend/src/test/java/com/mindbug/controller/CardControllerTest.java
Labels: Backend, Refactor

#28 Feature/us 21 terrain visualisation
  .DS_Store
  .gitignore
  mindbug-frontend/src/assets/Sets/First_Contact/card_Back.png
  mindbug-frontend/src/components/GameBoard.vue
  mindbug-frontend/src/components/HomePage.vue
  mindbug-frontend/src/router.js
Labels: Frontend
